
name: Build and deploy ASP.NET Core app to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore ./src/AzureNamingTool.csproj

      - name: Build
        run: dotnet build ./src/AzureNamingTool.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./src/AzureNamingTool.csproj --configuration Release --output ./publish

           - name: Deploy to Azure WebApp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'AzureNamingTool'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
