
name: Build and deploy ASP.NET Core app to Azure Web App

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET 8 SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Show repo and src
        run: |
          pwd
          ls -la
          ls -la ./src || true
          ls -la ./src/AzureNamingTool || true

      - name: Restore dependencies
        run: dotnet restore ./src/AzureNamingTool.csproj

      - name: Build (Release)
        run: dotnet build ./src/AzureNamingTool.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./src/AzureNamingTool.csproj --configuration Release --output ./publish

      - name: List publish folder
               run: |
          echo "== publish =="
          ls -la ./publish || true

      - name: Deploy to Azure WebApp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'azurenamingtool-aeechtbccebhbbch'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
